*~
**/*~
*.swp
**/*.swp
.DS_Store
*/.DS_Store
**/.DS_Store

!.keep

data/*
!data/travel_time_matrix_computer.yml

/python-packages/*/build/
/python-packages/*/dist/
__pycache__
.virtualenv
*.egg-info
